body {
  background: #f5f5f5;
}

#wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.content-wrapper {
  padding-left: 250px;
  padding-top: 62px;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 1023px) {
  .content-wrapper {
    padding-left: 0;
  }

  .collapse-menu {
    .content-wrapper {
      padding-left: 250px;
    }

    .sidebar {
      left: 0 !important;
    }
  }
}

