<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container>
 -->
<div class="sidebar p-3 text-white">
  <ul class="list-unstyled">
    <li class="mb-3"><a class="text-white" href="#"><i class="fa fa-home"></i> Dashboard</a></li>
    <li class="mb-3"><a class="text-white" href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Collection</a></li>
    <li class="mb-3"><a class="text-white" href="#"><i class="fa fa-archive" aria-hidden="true"></i> Store Structure</a></li>
    <li class="mb-3"><a class="text-white" href="#"><i class="fa fa-product-hunt" aria-hidden="true"></i> Product</a></li>
    <li class="mb-3"><a class="text-white" href="#"><i class="fa fa-briefcase" aria-hidden="true"></i> Branding</a></li>
  </ul>
</div>


