<div class="banner position-relative">
  <img src="assets/images/banner.png" class="img-fluid">
  <div class="caption">
    <div class="container-fluid h-100 d-flex align-items-center">
      <div class="text-holder w-50 text-center">
        <h1 class="display-4 font-weight-bold banner-text d-block">Create Your Own Custom Web Store</h1>
        <p>Discover a platform that helps you develop, design and organize your web presence. Create your web store to instantly connect with your customers.</p>
        <button class="btn btn-primary my-2 my-sm-0 rounded-pill" type="button">Create Store</button>
      </div>
    </div>
  </div>
</div>
