.public-header {
  border-bottom: 3px solid blue;

  .custom-collapse {
    justify-content: space-between;
  }

  .navbar-nav {
    li {
      &.active {
        a:after {
          content: '';
          position: absolute;
          top: -24px;
          right: 8px;
          left: 8px;
          height: 5px;
          background: blue;
        }
      }
      a {
        position: relative;

        &:hover:after {
          content: '';
          position: absolute;
          top: -24px;
          right: 8px;
          left: 8px;
          height: 5px;
          background: blue;
        }
      }
    }
  }
}
